.drawings-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;    
    padding: 0px 32px 32px 32px;
}

.drawing-card {
  max-width: 350px;
  justify-content: space-between;
}

.thumbnail {
  max-width: 100% !important;  
  max-height: 275px !important;  
  width: auto !important;  
  height: auto !important;  
  object-fit: contain;  
}

.thumbnail:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 7px;
}

.drawing-card-content {
  display: flex;
  justify-content: center;
}

.drawing-card-actions {
  justify-content: center;
}

app-show-stars {
  width: fit-content;
}